<div
  class="w-screen h-dvh flex flex-col items-center justify-center text-black"
>
  <div class="text-center">
    <span class="text-[20vw] font-semibold leading-[0.8]">IDCC</span>
    <p class="mt-6 text-xl">IDCC is an Intra-Departmental Coding Competition</p>
    <p class="mt-2 text-lg max-w-2xl mx-auto">
      Join teams of two as you compete in exciting coding challenges and solve
      problems in a timed environment. Sharpen your skills and have fun!
    </p>
  </div>
  <button
    class="flex gap-2 border border-neutral-800/40 mt-6 px-8 py-3 bg-white font-semibold rounded-lg hover:bg-gray-200 transition"
  >
    Get Started
    <lucide-angular [img]="MoveRight" class="my-icon"></lucide-angular>
  </button>
</div>
