<div class="w-screen h-dvhn flex">
    <div class="w-1/2  h-dvh border-r border-neutral-600/30">
        <img src="/images/new (3).png" alt="login-image" class="w-full h-full object-cover">
    </div>
    <div class="w-1/2 bg-white h-dvh">
        <div class="w-full h-full  flex flex-col justify-center px-24 gap-3">
            <div class="flex flex-col items-center gap-3 mb-2">
                <!-- <img src="/images/logo.jpg" alt="logo" class="w-10 h-10"> -->
                <span class="text-4xl font-semibold">IDCC</span>
                <span class="text-center text-xs">
                    Team up, code fast, and conquer challenges—fun and skills combined!
                </span>
            </div>

            <div class="flex gap-1 flex-col text-xs ">
                <span class="text-sm text-gray-700">Participant 1</span>
                <div class="flex gap-2 text-sm text-gray-600">
                    <div class="flex flex-col flex-1 gap-1">
                        <label for="">Name</label>
                        <input type="text" class="px-3 py-2 border border-green-900 rounded" id="quiz">
                    </div>
                    <div class="flex flex-col flex-1 gap-1">
                        <label for="">Reg.no</label>
                        <input type="text" class="px-3 py-2 border border-green-900 rounded" id="quiz">
                    </div>
                </div>
            </div>

            <div class="flex gap-1 flex-col text-xs">
                <span class="text-sm text-gray-700">Participant 2</span>
                <div class="flex gap-2 text-sm text-gray-600">
                    <div class="flex flex-col flex-1 gap-1">
                        <label for="">Name</label>
                        <input type="text" class="px-3 py-2 border border-green-900 rounded" id="quiz">
                    </div>
                    <div class="flex flex-col flex-1 gap-1">
                        <label for="">Reg.no</label>
                        <input type="text" class="px-3 py-2 border border-green-900 rounded" id="quiz">
                    </div>
                </div>
            </div>

            <div class="flex flex-col text-sm gap-1">
                <label for="" class="text-gray-600">College</label>
                <input type="text" class="px-3 py-2 border border-green-900 rounded" >
            </div>

            <div class="flex flex-col text-sm gap-1">
                <label for="" class="text-gray-600">Email</label>
                <input type="text" class="px-3 py-2 border border-green-900 rounded" >
            </div>

            <div class="flex flex-col text-sm gap-1">
                <label for="" class="text-gray-600">Phone</label>
                <input type="text" class="px-3 py-2 border border-green-900 rounded" >
            </div>

            <button class=" bg-black px-4 py-3 text-sm text-white rounded mt-2">
                Continue
            </button>
        </div>
    </div>
</div>